body {
    text-align: center;
}
  
form {
    display: inline-block;
    padding: 20px 30px;
    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;
}
  
input {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 5px;
}
  
button {
    padding: 10px 15px;
    background-color: #2e93ff;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }

  