body{
    margin: 0vw;
}

.bar {
    border: solid rgba(146, 2, 2, 0.06) 0.4vw;
    box-shadow: 0vw 0vw 1vw rgb(117, 0, 0);
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-roof-tile-pattern-design_23-2149258926.jpg);
    background-color: rgb(146, 4, 2);
}

.logo {
    position: relative;
    background-color: white;
    top: 0.2vw;
    display: flex;
    margin: 1vw;
    width: 10vw;
    height: auto;
    position: relative;
    border: solid rgb(255, 0, 0) 0.2vw;
    border-radius: 12px;
    padding: 0.3vw;
}

.socials {
    position: relative;
    left: 70vw;
    bottom: 6vw;
    display: grid;
    grid-template-columns: repeat(2, 3.5vw);
    grid-template-rows: repeat(2, 3.5vw);
    width: 1vw;
    height: 1vw;
}

.apps{
    background-color: rgb(255, 255, 255);
    border: solid rgb(223, 0, 0) 0.3vw;
    display: flex;
    cursor: pointer;
    width: 2.2vw;
    height: auto;
    padding: 0.2vw;
}

.contact{
    width: 13.2vw;
    border: 0.4vw solid rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    left: 10vw;
    bottom: 8vw;
    font-size: 1.3vw;
    font-weight: bold;
    line-height: 2vw;
    padding: 0.4vw;
    color: rgb(0, 0, 0);
}